.console-line-entry-label-container {
    flex-direction: row;
}

.console-line-entry-label {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 0;
    margin-left: 0;
    -unity-text-align: middle-left;
    white-space: normal;
}

.console-line-main {
    min-height: 10px;
}
