Label {
    -unity-font-definition: url("project://database/Assets/Fonts/CascadiaCode-Regular.ttf?fileID=12800000&guid=2b2769ecb884d044ab8f7bec05b30488&type=3#CascadiaCode-Regular");
}

TextField {
    -unity-font-definition: url("project://database/Assets/Fonts/CascadiaCode-Regular.ttf?fileID=12800000&guid=2b2769ecb884d044ab8f7bec05b30488&type=3#CascadiaCode-Regular");
    font-size: 12px;
}

.console {
    flex-grow: 1;
    background-color: rgb(12, 12, 12);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left-color: rgb(68, 68, 68);
    border-right-color: rgb(68, 68, 68);
    border-top-color: rgb(68, 68, 68);
    border-bottom-color: rgb(68, 68, 68);
    filter: blur(1px);
}

.content-container {
    flex-grow: 1;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    white-space: nowrap;
}

.enemy-model-container {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    min-width: 30%;
    max-width: 30%;
}

.enemy-model-container-image {
    flex-grow: 1;
    -unity-background-scale-mode: scale-to-fit;
    background-position-y: center;
    background-position-x: center;
}


.shop-model-container {
    max-height: 40%;
    min-height: 40%;
}

.shop-model-container-image {
    flex-grow: 1;
    -unity-background-scale-mode: scale-to-fit;
    background-position-y: center;
    background-position-x: center;
}

