Label {
  -unity-font-definition: url("project://database/Assets/Fonts/CascadiaCode-Regular.ttf?fileID=12800000&guid=2b2769ecb884d044ab8f7bec05b30488&type=3#CascadiaCode-Regular");
}

.console {
  flex-grow: 1;
  background-color: rgb(12, 12, 12);
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left-color: rgb(68, 68, 68);
  border-right-color: rgb(68, 68, 68);
  border-top-color: rgb(68, 68, 68);
  border-bottom-color: rgb(68, 68, 68);
  filter: blur(1px);
}

.content-container {
  flex-grow: 1;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  white-space: nowrap;
  flex-direction: row;
}
