.input-text-field {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.input-text-field > #unity-text-input {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(0, 0, 0, 0);
    --unity-cursor-color: var(--console-magenta);
}

.input-text-field > #unity-text-input > TextElement {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.submit-button {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: rgba(188, 188, 188, 0);
}

.submit-button-icon {
    flex-grow: 1;
    background-image: url("project://database/Assets/Icons/send.png?fileID=-7731164769326890175&guid=a507f51c7a0a98b4a80ba2b8612d3c44&type=3#send_0");
    width: 16px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0);
    -unity-background-scale-mode: scale-to-fit;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}
